.formations {
	background-color: $white;

	&__hero-wrapper {
		position: relative;
	}

	&__bonhomme-wrapper {
		position: absolute !important;
		bottom: -50px;
		right: -20px;
		width: 260px;
		height: 260px;
		pointer-events: none;
		opacity: 0.96;
	}

	&__bonhomme {
		position: relative !important;
		display: block;
		height: auto !important;
		object-fit: contain;
		object-position: bottom;
		transform: scaleX(-1);
	}

	@media (max-width: $breakpoint-md) {
		&__bonhomme-wrapper {
			display: none;
		}
	}
}
